#include "classmgr.h"

ICON ID_MAIN classmgr.ico

DLGTEMPLATE ID_MAIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  SZ_TITLE, ID_MAIN, 20, 20, 280, 220, FS_SCREENALIGN |
            WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON |
            FCF_NOBYTEALIGN | FCF_TASKLIST
            PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    BEGIN
        LISTBOX         LBOX_CLASS, 2, 44, 276, 162, LS_NOADJUSTPOS
                        PRESPARAMS PP_FONTNAMESIZE "2.System VIO"
        LTEXT           SZ_CLASSLIST, TXT_CLASSLIST, 2, 209, 276,
                        8, DT_MNEMONIC
        LTEXT           SZ_CLASSNAME, TXT_CLASSNAME, 2, 32, 60, 8,
                        DT_MNEMONIC
        ENTRYFIELD      "", EF_CLASSNAME, 66, 32, 210, 8, ES_MARGIN
                        CTLDATA 8, 63, 0, 0
        LTEXT           SZ_MODULENAME, TXT_MODULENAME, 2, 20, 60, 8,
                        DT_MNEMONIC
        ENTRYFIELD      "", EF_MODULENAME, 66, 20, 210, 8, ES_MARGIN
                        CTLDATA 8, 259, 0, 0
        PUSHBUTTON      SZ_REFRESH, BTN_REFRESH, 2, 2, 44, 13
        PUSHBUTTON      SZ_EDIT, BTN_EDIT, 47, 2, 44, 13, WS_DISABLED
        PUSHBUTTON      SZ_ADD, BTN_ADD, 92, 2, 44, 13, WS_DISABLED
        PUSHBUTTON      SZ_DEREG, BTN_DEREG, 137, 2, 44, 13, WS_DISABLED
        PUSHBUTTON      SZ_REMOVE, BTN_REMOVE, 182, 2, 44, 13, WS_DISABLED
        PUSHBUTTON      SZ_HELP, BTN_HELP, 234, 2, 44, 13, BS_HELP
        PUSHBUTTON      SZ_UPDATE, BTN_UPDATE, 2, 2, 44, 13,
                        NOT WS_VISIBLE | WS_DISABLED
        PUSHBUTTON      SZ_CANCEL, BTN_CANCEL, 47, 2, 44, 13,
                        NOT WS_VISIBLE | WS_DISABLED
    END
END

HELPTABLE HLP_MAIN {
   HELPITEM ID_MAIN, HLPS_MAIN, 1
}

HELPSUBTABLE HLPS_MAIN {
}

